{{ define "content" }}

<div class="widgetContainer">
    <div class="widgetTopInfo">
        <div>
            <p>city</p>
            <h1>{{ .City 	   }}</h1>
        </div>
        <div>
            <p>{{ .Country     }}</p>
            <p>{{ .Date        }}</p>
        </div>    
    </div>
    <div class="widgetCentralIcon">
          {{ template "icon" }}
    </div>
    <p class="widgetWeatherDescription">
        {{ .Weather    }}
    </p>
    <div class="widgetFooter">
        <span class="temperature">
            {{ .Temperature   }}
        </span>
        <div>
            <p>
                <i>lon:</i>
                <span>
                    {{ .Longitude   }}
                </span>
            </p>
            <p>
                <i>lat:</i>
                <span>
                    {{ .Latitude    }}
                </span>
            </p>
        </div>
    </div>
</div>

{{ end }}